# Import Libraries

In [6]:
import os

print(os.path)
os.chmod("C:\\Users\\Andrew\\Documents\\GitHub\\People_Analytics\\")
print(os.path)

<module 'ntpath' from 'C:\\Program Files\\Alteryx\\bin\\Miniconda3\\envs\\JupyterTool_vEnv\\lib\\ntpath.py'>

TypeError: Required argument 'mode' (pos 2) not found

In [8]:
help(os.chdir)

Help on built-in function chdir in module nt:

chdir(path)
    Change the current working directory to the specified path.

    path may always be specified as a string.
    On some platforms, path may also be specified as an open file descriptor.
      If this functionality is unavailable, using it raises an exception.

In [1]:
import pandas as pd
import numpy as np 
import sklearn

# Read in File

In [2]:
file = r'C:\Users\Andrew\Documents\GitHub\People_Analytics\Datasets\HRDataset_v14.csv'

In [3]:
df = pd.read_csv(file)

# Summary Stats

In [4]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [5]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [6]:
# Count NA's - see completeness of data
df.isna().sum()/len(df)

Employee_Name                 0.000000
EmpID                         0.000000
MarriedID                     0.000000
MaritalStatusID               0.000000
GenderID                      0.000000
EmpStatusID                   0.000000
DeptID                        0.000000
PerfScoreID                   0.000000
FromDiversityJobFairID        0.000000
Salary                        0.000000
Termd                         0.000000
PositionID                    0.000000
Position                      0.000000
State                         0.000000
Zip                           0.000000
DOB                           0.000000
Sex                           0.000000
MaritalDesc                   0.000000
CitizenDesc                   0.000000
HispanicLatino                0.000000
RaceDesc                      0.000000
DateofHire                    0.000000
DateofTermination             0.665595
TermReason                    0.000000
EmploymentStatus              0.000000
Department                    0.000000
ManagerName                   0.000000
ManagerID                     0.025723
RecruitmentSource             0.000000
PerformanceScore              0.000000
EngagementSurvey              0.000000
EmpSatisfaction               0.000000
SpecialProjectsCount          0.000000
LastPerformanceReview_Date    0.000000
DaysLateLast30                0.000000
Absences                      0.000000
dtype: float64

### Individual columns look okay. 

If we wanted to predict absenteeism, let's make that our target variable and see what correlates with it.

In [9]:
import matplotlib.pyplot as plt
import seaborn

ModuleNotFoundError: No module named 'seaborn'

In [19]:
python -m pip install matplotlib

SyntaxError: invalid syntax (<ipython-input-19-1096501ae979>, line 1)

In [37]:
df.corr

      1         0
27             Bozzi, Charles  10175          0                0         1
28               Brill, Donna  10177          1                1         0
29                 Brown, Mia  10238          1                1         0
..                        ...    ...        ...              ...       ...
281         Tippett, Jeanette  10123          0                2         0
282            Torrence, Jack  10013          0                3         1
283                Trang, Mei  10287          0                0         0
284      Tredinnick, Neville   10044          1                1         1
285              True, Edward  10102          0                0         1
286           Trzeciak, Cybil  10270          0                0         0
287             Turpin, Jumil  10045          1                1         1
288           Valentin,Jackie  10205          1                1         0
289          Veera, Abdellah   10014          0                2         1
290             Vega, Vincent  10144          0                2         1
291          Villanueva, Noah  10253          0                0         1
292           Voldemort, Lord  10118          1                1         1
293             Volk, Colleen  10022          1                1         0
294      Von Massenbach, Anna  10183          0                0         0
295             Walker, Roger  10190          0                0         1
296      Wallace, Courtney  E  10274          1                1         0
297          Wallace, Theresa  10293          0                0         0
298             Wang, Charlie  10172          0                0         1
299           Warfield, Sarah  10127          0                4         0
300           Whittier, Scott  10072          0                0         1
301             Wilber, Barry  10048          1                1         1
302             Wilkes, Annie  10204          0                2         0
303     Williams, Jacquelyn    10264          0                0         0
304        Winthrop, Jordan    10033          0                0         1
305             Wolk, Hang  T  10174          0                0         0
306            Woodson, Jason  10135          0                0         1
307        Ybarra, Catherine   10301          0                0         0
308          Zamora, Jennifer  10010          0                0         0
309               Zhou, Julia  10043          0                0         0
310             Zima, Colleen  10271          0                4         0

     EmpStatusID  DeptID  PerfScoreID  FromDiversityJobFairID  Salary  ...  \
0              1       5            4                       0   62506  ...
1              5       3            3                       0  104437  ...
2              5       5            3                       0   64955  ...
3              1       5            3                       0   64991  ...
4              5       5            3                       0   50825  ...
5              1       5            4                       0   57568  ...
6              1       4            3                       0   95660  ...
7              1       5            3                       0   59365  ...
8              3       5            3                       1   47837  ...
9              1       3            3                       0   50178  ...
10             5       5            3                       1   54670  ...
11             5       5            3                       1   47211  ...
12             1       3            4                       1   92328  ...
13             1       5            3                       0   58709  ...
14             5       5            3                       0   52505  ...
15             4       5            3                       0   57834  ...
16             2       5            4                       0   70131  ...
17             1       5            3                       0   59026  ...
18             4       3            3                       0  110000  ...
19             3       5            3                       0   53250  ...
20             1       5            3                       0   51044  ...
21             1       5            3                       0   64919  ...
22             1       5            4                       0   62910  ...
23             1       5            2                       0   66441  ...
24             5       5            3                       0   57815  ...
25             4       3            3                       0  103613  ...
26             1       1            3                       1  106367  ...
27             5       5            3                       0   74312  ...
28             5       5            3                       0   53492  ...
29             1       1            3                       1   63000  ...
..           ...     ...          ...                     ...     ...  ...
281            1       5            3                       0   56339  ...
282            1       6            4                       0   64397  ...
283            1       5            2                       0   63025  ...
284            5       3            3                       0   75281  ...
285            5       4            3                       1  100416  ...
286            5       5            3                       0   74813  ...
287            1       3            3                       0   76029  ...
288            1       6            3                       0   57859  ...
289            5       5            4                       0   58523  ...
290            1       5            3                       0   88976  ...
291            1       6            3                       0   55875  ...
292            4       3            3                       0  113999  ...
293            4       5            4                       0   49773  ...
294            2       5            3                       0   62068  ...
295            1       5            3                       0   66541  ...
296            5       5            3                       1   80512  ...
297            5       5            2                       0   50274  ...
298            1       3            3                       0   84903  ...
299            1       3            3                       0  107226  ...
300            5       5            3                       0   58371  ...
301            5       5            3                       0   55140  ...
302            5       5            3                       0   58062  ...
303            5       5            3                       1   59728  ...
304            5       5            4                       0   70507  ...
305            1       5            3                       0   60446  ...
306            1       5            3                       0   65893  ...
307            5       5            1                       0   48513  ...
308            1       3            4                       0  220450  ...
309            1       3            3                       0   89292  ...
310            1       5            3                       0   45046  ...

            ManagerName  ManagerID        RecruitmentSource  \
0        Michael Albert       22.0                 LinkedIn
1            Simon Roup        4.0                   Indeed
2        Kissy Sullivan       20.0                 LinkedIn
3          Elijiah Gray       16.0                   Indeed
4        Webster Butler       39.0            Google Search
5              Amy Dunn       11.0                 LinkedIn
6       Alex Sweetwater       10.0                 LinkedIn
7         Ketsia Liebig       19.0        Employee Referral
8        Brannon Miller       12.0       Diversity Job Fair
9          Peter Monroe        7.0                   Indeed
10        David Stanley       14.0       Diversity Job Fair
11       Kissy Sullivan       20.0       Diversity Job Fair
12           Simon Roup        4.0       Diversity Job Fair
13        Kelley Spirea       18.0            Google Search
14       Michael Albert       22.0  On-line Web application
15        Kelley Spirea       18.0            Google Search
16        Kelley Spirea       18.0        Employee Referral
17         Elijiah Gray       16.0            Google Search
18           Simon Roup        4.0            Google Search
19       Webster Butler        NaN                 LinkedIn
20             Amy Dunn       11.0            Google Search
21        Ketsia Liebig       19.0                   Indeed
22       Brannon Miller       12.0                   Indeed
23       Michael Albert       22.0            CareerBuilder
24         Elijiah Gray       16.0            Google Search
25           Simon Roup        4.0                 LinkedIn
26   Brandon R. LeBlanc        3.0       Diversity Job Fair
27           Janet King        2.0                   Indeed
28        David Stanley       14.0            Google Search
29   Brandon R. LeBlanc        1.0       Diversity Job Fair
..                  ...        ...                      ...
281      Brannon Miller       12.0                   Indeed
282       Lynn Daneault       21.0                   Indeed
283       David Stanley       14.0                 LinkedIn
284        Peter Monroe        7.0            CareerBuilder
285     Alex Sweetwater       10.0       Diversity Job Fair
286            Amy Dunn       11.0                 LinkedIn
287        Peter Monroe        7.0        Employee Referral
288          John Smith       17.0                   Indeed
289      Kissy Sullivan       20.0                 LinkedIn
290          Janet King        2.0        Employee Referral
291          John Smith       17.0                  Website
292          Simon Roup        4.0        Employee Referral
293       Kelley Spirea       18.0            Google Search
294      Michael Albert       22.0                 LinkedIn
295       Ketsia Liebig       19.0        Employee Referral
296          Janet King        2.0       Diversity Job Fair
297        Elijiah Gray       16.0            CareerBuilder
298    Brian Champaigne       13.0                   Indeed
299        Peter Monroe        7.0        Employee Referral
300      Webster Butler       39.0                 LinkedIn
301            Amy Dunn       11.0                  Website
302       Ketsia Liebig       19.0            Google Search
303       Ketsia Liebig       19.0       Diversity Job Fair
304      Brannon Miller       12.0                 LinkedIn
305       David Stanley       14.0                 LinkedIn
306      Kissy Sullivan       20.0                 LinkedIn
307      Brannon Miller       12.0            Google Search
308          Janet King        2.0        Employee Referral
309          Simon Roup        4.0        Employee Referral
310       David Stanley       14.0                 LinkedIn

      PerformanceScore  EngagementSurvey EmpSatisfaction SpecialProjectsCount  \
0              Exceeds              4.60               5                    0
1          Fully Meets              4.96               3                    6
2          Fully Meets              3.02               3                    0
3          Fully Meets              4.84               5                    0
4          Fully Meets              5.00               4                    0
5              Exceeds              5.00               5                    0
6          Fully Meets              3.04               3                    4
7          Fully Meets              5.00               4                    0
8          Fully Meets              4.46               3                    0
9          Fully Meets              5.00               5                    6
10         Fully Meets              4.20               4                    0
11         Fully Meets              4.20               3                    0
12             Exceeds              4.28               4                    5
13         Fully Meets              4.60               4                    0
14         Fully Meets              5.00               5                    0
15         Fully Meets              5.00               4                    0
16             Exceeds              4.40               3                    0
17         Fully Meets              5.00               5                    0
18         Fully Meets              4.50               4                    5
19         Fully Meets              4.20               4                    0
20         Fully Meets              5.00               3                    0
21         Fully Meets              4.20               3                    0
22             Exceeds              5.00               3                    0
23   Needs Improvement              2.00               3                    0
24         Fully Meets              4.80               5                    0
25         Fully Meets              3.50               5                    7
26         Fully Meets              5.00               4                    3
27         Fully Meets              3.39               3                    0
28         Fully Meets              3.35               4                    0
29         Fully Meets              4.50               2                    6
..                 ...               ...             ...                  ...
281        Fully Meets              4.21               5                    0
282            Exceeds              4.10               3                    0
283  Needs Improvement              2.44               5                    0
284        Fully Meets              5.00               3                    5
285        Fully Meets              4.60               3                    4
286        Fully Meets              4.40               3                    0
287        Fully Meets              5.00               4                    7
288        Fully Meets              2.81               3                    0
289            Exceeds              4.50               5                    0
290        Fully Meets              3.93               3                    0
291        Fully Meets              4.50               4                    0
292        Fully Meets              4.33               3                    7
293            Exceeds              4.30               5                    0
294        Fully Meets              3.21               3                    0
295        Fully Meets              3.11               5                    0
296        Fully Meets              4.50               3                    0
297  Needs Improvement              2.50               3                    0
298        Fully Meets              3.42               4                    7
299        Fully Meets              4.20               4                    8
300        Fully Meets              5.00               5                    0
301        Fully Meets              5.00               3                    0
302        Fully Meets              3.60               5                    0
303        Fully Meets              4.30               4                    0
304            Exceeds              5.00               3                    0
305        Fully Meets              3.40               4                    0
306        Fully Meets              4.07               4                    0
307                PIP              3.20               2                    0
308            Exceeds              4.60               5                    6
309        Fully Meets              5.00               3                    5
310        Fully Meets              4.50               5                    0

    LastPerformanceReview_Date DaysLateLast30 Absences
0                    1/17/2019              0        1
1                    2/24/2016              0       17
2                    5/15/2012              0        3
3                     1/3/2019              0       15
4                     2/1/2016              0        2
5                     1/7/2019              0       15
6                     1/2/2019              0       19
7                    2/25/2019              0       19
8                    1/25/2019              0        4
9                    2/18/2019              0       16
10                   1/30/2016              0       12
11                    5/6/2016              0       15
12                   2/25/2019              0        9
13                   2/14/2019              0        7
14                    3/2/2017              0        1
15                    4/5/2017              0       20
16                   1/14/2019              0       16
17                   1/14/2019              0       12
18                   1/15/2015              0        8
19                   1/11/2019              0       13
20                   1/14/2019              0       13
21                   1/10/2019              0        2
22                   2/27/2019              0       19
23                   2/27/2019              2        3
24                    3/4/2014              0        5
25                   1/10/2016              0        2
26                   2/18/2019              0        4
27                   2/20/2014              0       14
28                    3/4/2013              0        6
29                   1/15/2019              0       14
..                         ...            ...      ...
281                  1/14/2019              0        4
282                   1/4/2019              0        6
283                  2/11/2019              4       18
284                  4/15/2015              0       11
285                  2/12/2017              0        9
286                   1/5/2014              0        5
287                  1/14/2019              0        8
288                  1/17/2019              0       16
289                   2/1/2016              0       15
290                  2/27/2019              0       19
291                  1/18/2019              0       11
292                  2/15/2017              0        9
293                   2/1/2015              0       18
294                  1/29/2019              0        7
295                  2/12/2019              0        4
296                   1/2/2012              0        5
297                   9/5/2014              6       13
298                   1/4/2019              0       17
299                   2/5/2019              0        7
300                  5/15/2014              0       11
301                  2/15/2015              0        7
302                   2/6/2011              0        9
303                   6/2/2014              0       16
304                  1/19/2016              0        7
305                  2/21/2019              0       14
306                  2/28/2019              0       13
307                   9/2/2015              5        4
308                  2/21/2019              0       16
309                   2/1/2019              0       11
310                  1/30/2019              0        2

[311 rows x 36 columns]>